#headshot{
    width:300px;
    float:left;
    margin-right:50px;
}

h1,h2,h3,p{
    font-family: Arial, Helvetica, sans-serif
}

#contact a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold; 
    color:black;
    font-size:20px;
}
#contact a:hover{
    color:red;
}

#footer{
    background-color:antiquewhite;
    position:fixed;
    bottom:0px;
    padding:21px;
    width:100%;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#info{
    width:700px;
    margin:auto;
    
}

@media (min-width 576px) {
    #info{
        width:700px;
    }
    #headshot{
        float:left;
    }
}